@model EntityLayer.Concrete.Guide
@{
    ViewData["Title"] = "EditGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Update</h3>
<form method="post">
    @Html.HiddenFor(x=> x.GuideID)
    <div class="form-group">
        @Html.Label("Name Surname")
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Image Url")
        <input type="text" asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Instagram Url")
        <input type="text" asp-for="InstagramUrl" class="form-control" />
    </div><br />
    <div class="form-group">
        @Html.Label("Twitter Url")
        <input type="text" asp-for="TwitterUrl" class="form-control" />
    </div><br />
    <div class="form-group">
        @Html.Label("Descrption")
        <textarea type="text" asp-for="Description" class="form-control"> </textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <br />
    <button class="btn btn-primary">Update</button>
</form>

