@model EntityLayer.Concrete.Reservation
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h3>New Booking</h3>

<form method="post">
    <div class="form-group">
    @Html.Label("Destination")
    @Html.DropDownListFor(x=>x.Destination,(List<SelectListItem>)ViewBag.v, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.Label("Persom Count")
        <input type="text" asp-for="PersonCount" class="form-control"/>
    </div>
    <div class="form-group">
        @Html.Label("Reservation Date")
        <input type="date" asp-for="ReservationDate" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Description")
        <textarea type="text" asp-for="Description" class="form-control"> </textarea>
    </div>
    <button class="btn btn-success">Save</button>
</form>
<script>
    window.onload=(function () {
        alert('Your reservation will initially be received as pending approval. Do not forget to follow the "Active Bookings" menu for the reservation confirmation process.');
    });</script>