@model TravelsalCore.Areas.Member.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<h3>Edit Profile</h3>
<form method="post" enctype="multipart/form-data">
    @Html.Label("Name")
    <input type="text" asp-for="Name" class="form-control"/>
    <br />
    @Html.Label("Surname")
    <input type="text" asp-for="Surname" class="form-control" />
    <br />
    @Html.Label("Email")
    <input type="text" asp-for="Mail" class="form-control" />
    <br />
    @Html.Label("Password")
    <input type="text" asp-for="Password" class="form-control" />
    <br />
    @Html.Label("Confirm Password")
    <input type="text" asp-for="ConfirmPassword" class="form-control" />
    <br />
    @Html.Label("Phone Number")
    <input type="text" asp-for="PhoneNumber" class="form-control" />
    <br />
    <div class="form-group">
        <label>Image</label> 
        <br />
        <input type="file" asp-for="Image"/>
    </div>
    <br />
    <button class="btn btn-primary">Update</button>
</form>
