@model EntityLayer.Concrete.Destination
@{
    ViewData["Title"] = "UpdateDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Update</h3>
<form method="post">
    <div class="form-group">
        @Html.Label("Guide")
        @Html.DropDownList("Guide", (List<SelectListItem>)ViewBag.g, "Select Guide", new { @class = "form-control", onchange = "updateSelectedGuide()" })
        <input type="hidden" id="selectedGuideID" asp-for="GuideID" name="GuideID" />
    </div>
    @Html.HiddenFor(x=>x.DestinationID)
    <div class="form-group">
        @Html.Label("City")
        <input type="text" asp-for="City" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("DayNight")
        <input type="text" asp-for="DayNight" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Price")
        <input type="text" asp-for="Price" class="form-control" />
    </div><br />
    <div class="form-group">
        @Html.Label("Image")
        <input type="text" asp-for="Image" class="form-control" />
    </div><br />
    <div class="form-group">
        @Html.Label("Capacity")
        <input type="text" asp-for="Capacity" class="form-control" />
    </div><br />
    <div class="form-group">
        @Html.Label("Cover Image")
        <input type="text" asp-for="CoverImage" class="form-control" />
    </div><br />
    <div class="form-group">
        @Html.Label("Image 2")
        <input type="text" asp-for="Image2" class="form-control" />
    </div><br />
    <div class="form-group">
        @Html.Label("Detail 1")
        <textarea type="text" asp-for="Details1" class="form-control"> </textarea>
    </div><br />
    <div class="form-group">
        @Html.Label("Detail 2")
        <textarea type="text" asp-for="Details2" class="form-control"> </textarea>
    </div>
    <br />
    <button class="btn btn-primary">Update</button>
</form>
<script>
    function updateSelectedGuide() {
        var selectedValue = document.getElementById("Guide").value;
        document.getElementById("selectedGuideID").value = selectedValue;
    }
</script>
