@using EntityLayer.Concrete
@model List<Comment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Comment List</h3>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>User</th>
        <th>Destination</th>
        <th>Date</th>
        <th>Detail</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CommentID</td>
            <td>@item.CommentUser</td>
            <td>@item.Destination.City</td>
            <td>@(((DateTime)item.CommentDate).ToString("dd-MMM-yyyy"))</td>
            <td>@item.CommentContent</td>
            <td><a href="/Admin/Comment/DeleteComment/@item.CommentID" class="btn btn-outline-danger" style="width:100%">Delete</a></td>
        </tr>
    }
</table>

